li{
    list-style: none;
    float: left;
    padding: 33px 20px;
}

.logo-utama{
    float: left;
    padding: left;
    padding-top: 10px;
}

.header{
    background-color: #b11b1b;
    color: white;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    /* padding: 20px 40px; */
    padding-top: 20px;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-list li{
    float: right;
    padding: 33px 40px;
}

.main{
    background-color:#d9d9d9;
    padding: 100px 90px;
}

.footer{
    background-color: #b11b1b;
    color: white;
    height: 120px;
    padding: 40px;
}

.footer-logo{
    font-size: 32px;
    float: left;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}

.copy-container span{
    color: red;
}

.copy-container h1{
    font-size: 140px;
}

.copy-container h2{
    font-size: 60px;
}

.contents{
    height: 200px;
}


